/* Styles for Functional Items */
.gray {
  background-color: gray;
}
.red {
  color:rgb(116, 14, 14);
}

.hidden {
  display:none;
}


/* Div Styles */
#divTopBanner {
  text-align: center;
  margin: 1%;
  font-family: 'Champigna', sans-serif;
}

#divGameOptions {
  text-align: center;
  margin: 1%;
}