/* Styles for Functional Items */

.hidden {
  display:none;
}


/* Div Styles */
#divTopBanner {
  text-align: center;
  margin: 1%;
  font-family: 'Champigna', sans-serif;
}

#divGameOptions {
  text-align: center;
  margin: 1%;
}

#divGame {
  text-align: center;
  margin: 1%;
}

#divScores {
  text-align: center;
  margin: 1%;
}


/* Color Styles */

.gray {
  background-color: gray;
}
.red {
  color:rgb(116, 14, 14);
}

.green {
  color:rgb(32, 128, 32);
}